@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Montserrat & family= Playfair+Display:wght@600 & display=swap');
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray ;
}
div h1{
     color: darkblue;
     font-family:'Playfair Display' sans-serif;
     font-size: 30px;
}
div .onglet a{
    color: red;
    margin-right: 10px;
    border-bottom: 10px;
    padding-bottom: 20px;
}
div .onglet{
    margin-top: 10px;
    margin-left: 500px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(image/gateau-au-chocolat-decore-fruits-bois-myrtilles-fraises-mures-ai-generative.jpg);
    background-size: contain ;
    color: rgb(235, 204, 27);
    padding: 50px;
} 
header h1{
    font-family:'Playfair Display' sans-serif;
    font-size: 40px; 
} 
header button{
    padding: 10px 20px;
    background-color: white; color: black;
    border: none;
    font-size: 20px;
    font-family:'Playfair Display' sans-serif;
}